/*Navbar*/

.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 20px;
}

.navbar-body {
  background-color: rgba(255, 255, 255, 0.479);
  backdrop-filter: blur(5px);
  padding: 5px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 15px #000000ae;
}

.navbar-body button {
  border: none;
  font-size: 1rem;
  font-weight: 600;
  background: none;
  color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 25px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.navbar-body button:hover {
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  color: white;
}

.navbar-body i {
  font-size: 1.7rem;
  color: rgb(0, 0, 0);
  padding: 10px;
  cursor: pointer;
}

/*Logo*/

.logo-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.logo-nav img {
  width: 150px;
}

/*Hero*/
.hero-container {
  width: 100%;
  height: 60dvh;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  position: relative;
}

.hero-body {
  max-width: 1240px;
  /* display: block; */
  text-align: center;
}

.hero-body h1 {
  font-size: 80px;
  margin: 0;
  color: white;
}

.hero-body p {
  font-size: 24px;
  /* margin: 0; */
  color: white;
}

.btn-plans {
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin-top: 20px;
  padding: 24px 60px;
  font-size: 1rem;
  border-radius: 12px;

  transition: 0.3s ease-in-out;
}

.btn-plans:hover {
  transform: translateY(-5px);
  box-shadow: 7px 5px 0px #06f3f9;
}

.brand-elements {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.brand-elements .d-img {
  width: 300px;
  height: 300px;
  transform: translateX(-50px);
}

.brand-elements .plus-img {
  width: 300px;
  height: 300px;
  transform: translateX(50px);
}

/*Past Clients*/
.past-clients-logos {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 100px 0;
  padding: 30px 50px;
}

.past-clients-logos h2 {
  margin-top: 0;
  margin-bottom: 30px;
  /* font-size: 24px;
  font-weight: 600; */
}

.logos {
  display: flex;
  justify-content: space-between;
}

.logos img {
  width: 120px;
  opacity: 0.5;
}

/*Client Problem*/

.client-problem {
  width: 100%;
  height: 65dvh;
  display: flex;
  margin-bottom: 100px;
}

.problem-img {
  background-image: url(./assets/diseñadores.jpg);
  background-size: cover;
  background-position: center;
  min-width: 50%;
  height: 100%;
}

.problem-text {
  color: white;
  width: 50%;
  padding: 80px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.problem-text h2 {
  font-size: 30px;
}

.problem-text p {
  font-size: 20px;
}

/*Testimonial*/

.testimonial blockquote {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  margin-bottom: 100px;
}

.testimonial i {
  font-size: 40px;
}

.client-quote {
  margin: 0;
  font-size: 20px;
  font-style: italic;
}

.testimonial .highlight {
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
}

/*How it works*/

.how-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 100px;
}

.how-container h2 {
  font-size: 30px;
}

.how-container p {
  margin: 0;
  font-size: 20px;
}

.steps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px;
  gap: 80px;
}

.steps .step {
  text-align: center;
  width: 30%;
}

.step p {
  margin-top: 30px;
}

.step-icon {
  font-size: 50px;
  margin-bottom: 20px;
}
